.attractions {
  @include list-reset;
  width: 100%;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.attractions__title {
  text-align: left;
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .attractions__title {
    text-align: center;
    font-size: 21px;
    margin: 23px 14px 10px 10px;
  }
}

@media (min-width: $tablet-width) {
  .attractions__title:nth-child(2) {
    margin: 23px 14px 10px 10px;
  }
}

@media (min-width: $tablet-width) {
  .attractions__title:nth-child(2) {
    margin: 25px 10px 10px 10px;
  }
}

@media (min-width: $desktop-width) {
  .attractions__title {
    margin-bottom: 24px;
    margin-top: 28px;
  }
}

.attractions__item {
  position: relative;
  list-style-type: none;
  padding: 14px 0 13px 60px;
}

.attractions__item--food {
  background-image: url("../img/icon-burger-mobile.svg");
  background-repeat: no-repeat;
  background-position: 13px 11px;
  padding: 1px 0 13px 60px;
}

@media (min-width: $tablet-width) {
  .attractions__item--food {
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: 51% 23%;
  }
}

@media (min-width: $desktop-width) {
  .attractions__item--food {
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: 50% 28%;
  }
}

.attractions__item--souvenirs {
  background-image: url("../img/icon-gift-mobile.svg");
  background-repeat: no-repeat;
  background-position: 18px 11px;
  padding: 1px 0 42px 60px;
}

@media (min-width: $tablet-width) {
  .attractions__item--souvenirs {
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 56% 24%;
  }
}

@media (min-width: $desktop-width) {
  .attractions__item--souvenirs {
    background-image: url("../img/icon-gift-1.svg");
    background-repeat: no-repeat;
    background-position: 50% 27%;
  }
}

.attractions__item--housing {
  background-image: url("../img/icon-house-mobile.svg");
  background-repeat: no-repeat;
  background-position: 13px 25px;
}

@media (min-width: $tablet-width) {
  .attractions__item--housing {
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 48% 23%;
  }
}

@media (min-width: $desktop-width) {
  .attractions__item--housing {
    background-position: 50% 27%;
  }
}

@media (min-width: $tablet-width) {
  .attractions__item {
    padding: 129px 0 63px 12px;
  }
}

@media (min-width: $desktop-width) {
  .attractions__item {
    padding: 141px 0 68px 0;
  }
}

.attractions__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .attractions__description {
    padding: 13px 7px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .attractions__description {
    padding: 0 7px 0 0;
  }
}

@media (min-width: $tablet-width) {
  .attractions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: 21px;
  }
}

@media (min-width: $tablet-width) {
  .attractions__description-transfer {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .attractions__description-transfer {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .attractions__description-endure {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .attractions__description-endure {
    display: none;
  }
}

.attractions__description-transfer-middle {
  display: none;
}

@media (min-width: $tablet-width) {
  .attractions__description-transfer-middle {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .attractions__description-transfer-middle {
    display: none;
  }
}

.attractions__description-transfer-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .attractions__description-transfer-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .attractions__description-transfer-desktop {
    display: inline;
  }
}

@media (min-width: $tablet-width) {
  .attractions__description-transfer-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .attractions__description-transfer-desktop {
    display: inline;
  }
}

.attractions__description-food-transfer {
  display: none;
}

@media (min-width: $tablet-width) {
  .attractions__description-food-transfer {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .attractions__description-food-transfer {
    display: none;
  }
}

.attractions__description-food-endure {
  display: none;
}

@media (min-width: $tablet-width) {
  .attractions__description-food-endure {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .attractions__description-food-endure {
    display: inline;
  }
}

@media (min-width: $tablet-width) {
  .attractions__description-souvenirs {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .attractions__description-souvenirs {
    display: none;
  }
}

.attractions__description-souvenirs-transfer {
  display: none;
}

@media (min-width: $tablet-width) {
  .attractions__description-souvenirs-transfer {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .attractions__description-souvenirs-transfer {
    display: inline;
  }
}

.attractions__description-souvenirs-endure {
  display: none;
}

@media (min-width: $tablet-width) {
  .attractions__description-souvenirs-endure {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .attractions__description-souvenirs-endure {
    display: none;
  }
}

.attractions__description-food {
  display: inline;
}

@media (min-width: $tablet-width) {
  .attractions__description-food {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .attractions__description-food {
    display: none;
  }
}

.attractions__item-icon {
  position: absolute;
  top: 13px;
  left: 12px;
  right: 110px;
  width: 40px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .attractions__item-icon {
    position: absolute;
    top: 32%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 82px;
    height: 68px;
  }
}

@media (min-width: $desktop-width) {
  .attractions__item-icon {
    position: absolute;
    top: 32%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 82px;
    height: 68px;
  }
}

@media (min-width: $tablet-width) {
  .attractions__item-icon-souvenir {
    position: absolute;
    top: 32%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 66px;
    height: 75px;
  }
}
