.attractions-container-index {
  margin-bottom: 20px;
  padding-top: 24px;
}

@media (min-width: $tablet-width) {
  .attractions-container-index {
    font-size: 21px;
    margin-bottom: 30px;
    padding: 30px 34px 0 10px;
  }
}

@media (min-width: $desktop-width) {
  .attractions-container-index {
    padding: 26px 11px 0 10px;
    margin-bottom: 59px;
  }
}

@media (min-width: $tablet-width) {
  .attractions-container-index::before {
    content: "";
    position: absolute;
    left: -79px;
    top: 55px;
    height: 1px;
    background-color: #e5e5e5;
    width: 123px;
  }
}

@media (min-width: $tablet-width) {
  .attractions-container-index::after {
    content: "";
    position: absolute;
    right: -58px;
    height: 1px;
    background-color: #e5e5e5;
    width: 123px;
  }
}

@media (min-width: $desktop-width) {
  .attractions-container-index::before {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    background-color: #e5e5e5;
    width: 280px;
    top: 53px;
  }
}

@media (min-width: $desktop-width) {
  .attractions-container-index::after {
    content: "";
    position: absolute;
    top: 53px;
    right: 0;
    height: 1px;
    background-color: #e5e5e5;
    width: 280px;
  }
}

