.attractions-container {
  position: relative;
  text-align: center;
  border: none;
  padding: 0;
  margin-bottom: 24px;
  border-bottom: 1px solid#E5E5E5;
  padding-bottom: 5px;
}

.attractions-container__item {
  margin-bottom: 16px;
  padding: 10px 0 10px 0;
}

@media (min-width: $tablet-width) {
  .attractions-container__item {
    padding-left: 62;
    margin-bottom: 16px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .attractions-container__item {
    padding-left: 11px;
    margin-bottom: 16px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .attractions-container__item:nth-child(2) {
    padding: 10px 1px 1px 14px;
  }
}

@media (min-width: $desktop-width) {
  .attractions-container__item:nth-child(3) {
    padding: 11px 6px 1px 15px;
  }
}

@media (min-width: $desktop-width) {
  .attractions-container__item:nth-child(4) {
    padding: 11px 0 1px 0;
  }
}

.attractions-container__label-control {
  position: relative;
  text-transform: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: left;
  padding-left: 62px;
}

@media (min-width: $tablet-width) {
  .attractions-container {
    margin-bottom: 48px;
    margin-left: 133px;
    margin-right: 106px;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .attractions-container {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 56px;
  }
}

.attractions-container__list {
  @include list-reset;
  margin: 0 20px 0 11px;
}

@media (min-width: $tablet-width) {
  .attractions-container__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 5px;
    margin-right: -2px;
  }
}

@media (min-width: $desktop-width) {
  .attractions-container__list {
    @include list-reset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    text-align: center;
    gap: 47px;
    padding: 0 40px 14px 34px;
  }
}

.attractions-container__field::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.attractions-container__field {
  background: #f2f2f2;
  border: none;
}

.attractions-container__label-control-mark {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 10%;
  background-color: #f2f2f2;
}

.attractions-container__checkbox:checked + .attractions-container__label-control-mark::before {
  position: absolute;
  top: 20px;
  left: 20px;
  content: "";
  transform: rotate(130deg);
  background-color: #333333;
  width: 21px;
  height: 3px;
  font-family: inherit;
}

.attractions-container__checkbox:checked + .attractions-container__label-control-mark::after {
  position: absolute;
  top: 22px;
  left: 12px;
  width: 15px;
  height: 3px;
  transform: rotate(45deg);
  background-color: #333333;
  content: "";
}

.attractions-container__label-control-mark:hover::after,
.attractions-container__label-control-mark:hover::before {
  opacity: 0.7;
}

.attractions-container__label-control-mark:active::after,
.attractions-container__label-control-mark:active::before {
  opacity: 0.3;
}

.attractions-container__label-control-mark:focus::after,
.attractions-container__label-control-mark:focus::before {
  outline: 2px solid #000000;
}

.attractions-container__checkbox:hover + .attractions-container__label-control-mark {
  background-color: #e5e5e5;
}

.attractions-container__checkbox:active + .attractions-container__label-control-mark {
  background-color: #d5d5d5;
}
