.form-emotions__submit,
.button {
  background-color: #81B3D2;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;
  text-transform: uppercase;
}

