.copyright__link {
  background-image: url("../img/htmlacademy.svg");
  background-position: center;
  display: block;
  width: 27px;
  height: 32px;
}

.copyright__text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
