
.copyright__text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 37px 28px 54px 10px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    margin: 0 4px 54px 34px;
  }
}
