.copyright__link {
  display: block;
  width: 170px;
  height: 32px;
  color: #000000;

  &:hover {
    color: #81b3d2;

    &:active {
      opacity: 0.3;
      color: #000000;
    }
  }
}

.copyright__text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
