.description-catalog {
  display: grid;
  grid-template-rows: 389px max-content;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-image: url("../img/back-desktop-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-transform: uppercase;
  background-color: #E6E6E6;
}

@media (min-width: $tablet-width) {
  .description-catalog {
    background-image: url("../img/back-tablet-form.jpg");
  }
}

@media (min-width: $desktop-width) {
  .description-catalog {
    background-image: url("../img/back-desktop-form.jpg");
  }
}

.description-catalog__slogan {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
