.description-catalog {
  display: grid;
  grid-template-rows: 162px max-content;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-image: url("../img/back-desktop-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-transform: uppercase;
  background-color: #e6e6e6;
  background-position-y: -40px;
  margin: 0;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile-form-retina.jpg");
    background-size: 902px auto;
  }
}

.description-catalog__wrapper {
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  grid-template-rows: 389px max-content;
  background-position-y: bottom;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .description-catalog__wrapper {
    background-image: url("../img/intro-triangle-tablet.svg");
    display: grid;
    grid-template-rows: 389px max-content;
    background-size: 100%;
  }
}

@media (min-width: $desktop-width) {
  .description-catalog__wrapper {
    background-image: url("../img/intro-triangle-desktop.svg");
    background-size: 100%;
  }
}

.description-catalog__image {
  margin: 0 auto;
  margin-top: 52px;
  display: block;
}

@media (min-width: $tablet-width) {
  .description-catalog__image {
    margin-top: 95px;
    width: 467px;
    height: 77px;
  }
}

@media (min-width: $desktop-width) {
  .description-catalog__image {
    margin-top: 96px;
  }
}

@media (min-width: $tablet-width) {
  .description-catalog {
    background-image: url("../img/back-tablet-form.jpg");
    grid-template-rows: 291px max-content;
    background-position-y: -47px;
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet-back-form.jpg");
      background-size: 1200px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .description-catalog {
    background-image: url("../img/back-desktop-form.jpg");
    background-size: 100%;
    grid-template-rows: 299px max-content;
    background-position-y: -56px;
  }
}

.description-catalog__slogan {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  text-align: center;
  padding: 7px 0 31px 0;
}

@media (min-width: $tablet-width) {
  .description-catalog__slogan {
    margin-bottom: 77px;
  }
}

@media (min-width: $desktop-width) {
  .description-catalog__slogan {
    padding-top: 0;
    margin: 0;
  }
}

.description-catalog__container {
  background-color: #ffffff;
  border-bottom: 1px solid#E5E5E5;
}

@media (min-width: $tablet-width) {
  .description-catalog__container {
    border-bottom: none;
  }
}

.description-catalog__container-text {
  padding: 19px 7px 0 10px;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .description-catalog__container-text {
    padding: 20px 7px 0 10px;
  }
}

@media (min-width: $desktop-width) {
  .description-catalog__container-text {
    padding: 70px 380px 37px;
    margin: 0;
  }
}

.description-catalog__title {
  text-align: center;
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .description-catalog__title {
    font-size: 30px;
    margin-bottom: 14px;
    margin-top: 43px;
  }
}

@media (min-width: $desktop-width) {
  .description-catalog__title {
    margin-bottom: 33px;
  }
}

.description-catalog__slogan-transfer {
  display: inline;
}

@media (min-width: $tablet-width) {
  .description-catalog__slogan-transfer {
    display: none;
  }
}

.description-catalog__slogan-endure {
  display: none;
}

@media (min-width: $tablet-width) {
  .description-catalog__slogan-endure {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .description-catalog__slogan-endure {
    display: inline;
  }
}
