.description {
  width: 320px;
  min-height: 518px;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  text-transform: uppercase;
  margin: 0 auto;
}

.description__wrapper {
  margin: 0;
}

.description__slogan {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
