.description-catalog {
  width: 320;
  min-height: 518px;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-image: url("../img/back-desktop-mobile.png");
  background-repeat: no-repeat;
  text-transform: uppercase;
  margin: 0 auto;
}

.description-catalog::before {
  content: url("../img/mobile-sedona.svg");
}

.description-catalog__slogan {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
