.form {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 120px;
    margin-left: 120px;
    padding: 0;
  }
}
