.form-block {
  border: none;
  text-align: center;
  padding: 0;
}

.form-block__radio {
  position: absolute;
  background-color: #f2f2f2;
  border-radius: 50%;
  left: 0;
  width: 46px;
  height: 46px;
}

.form-block__radio::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000000;
  content: "";
}

.form-block__input-radio:hover + .form-block__radio {
  filter: brightness(95%);
  opacity: 0.7;
}

.form-block__input-radio:active + .form-block__radio {
  filter: brightness(50%);
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .form-block {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .form-block {
    margin-left: 120px;
    margin-right: 120px;
  }
}

.form-block__list {
  @include list-reset;
  margin: 0 20px 24px 20px;
}

@media (min-width: $tablet-width) {
  .form-block__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    text-align: left;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-block__list {
    @include list-reset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    text-align: center;
  }
}

.form-block__title {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .form-block__title {
    font-size: 21px;
    padding: 0 123px 0 123px;
  }
}

@media (min-width: $desktop-width) {
  .form-block__title {
    padding: 0;
    margin-bottom: 28px;
  }
}

.form-block__control {
  position: relative;
  text-transform: none;
  padding-left: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-block__radio-label {
  padding-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .form-block__control {
    padding-left: 62px;
  }
}

@media (min-width: $desktop-width) {
  .form-block__control {
    padding-left: 62px;
  }
}

.form-block__field::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form-block__field {
  background: #f2f2f2;
  border: none;
}

.form-block__item {
  margin-bottom: 20px;
  min-height: 46px;
}

@media (min-width: $tablet-width) {
  .form-block__item {
    padding: 10px 0 10px 0;
    width: 280px;
  }
}
