.form-contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  border-bottom: 1px solid#E5E5E5;
}

.form-contacts__label-field {
  padding-left: 16px;
  color: #333333;
}

@media (min-width: $desktop-width) {
  .form-contacts {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  .form-contacts {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
}

.form-contacts__mail::placeholder,
.form-contacts__field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-contacts__mail {
  background: #f2f2f2;
  border: none;
  padding: 16px 0 16px 16px;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: right 0;
  padding-right: 80px;
}

.form-contacts__mail:hover {
  background-color: #e5e5e5;
}

.form-contacts__mail:active {
  background: #ffffff;
  outline: 4px solid #e5e5e5;
  border: none;
}

.form-contacts__field {
  background: #f2f2f2;
  border: none;
  padding: 16px 0 16px 16px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  background-image: url("../img/telephone.svg");
  background-repeat: no-repeat;
  background-position: right 0;
  padding-right: 80px;
  padding-top: 17px;
}

.form-contacts__field:hover {
  background-color: #e5e5e5;
}

.form-contacts__field:active {
  background: #ffffff;
  outline: 4px solid #e5e5e5;
  border: none;
}

@media (min-width: $desktop-width) {
  .form-contacts__field {
    font-size: 17px;
  }
}

.form-contacts__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.form-contacts__label {
  @include slogan-block;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.form-contacts__wrapper {
  padding: 4px 11px 19px 12px;
}

.form-contacts__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 17px;
  margin-top: 25px;
}

@media (min-width: $tablet-width) {
  .form-contacts__title {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 26px;
    margin-right: 47px;
  }
}

@media (min-width: $desktop-width) {
  .form-contacts__title {
    margin-top: 2px;
    margin-bottom: 27px;
    margin-left: 56px;
  }
}

@media (min-width: $tablet-width) {
  .form-contacts__wrapper {
    padding: 0 49px 143px 46px;
  }
}

@media (min-width: $desktop-width) {
  .form-contacts__wrapper {
    padding: 0 0 150px 78px;
  }
}
