.form-block__attractions {
  border: none;
}

@media (min-width: $tablet-width) {
  .form-block__attractions__list {
    @include list-reset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .form-block__attractions__list {
    @include list-reset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
  }
}

.form-block__attractions__list__item__label-control {
  text-transform:none;
}

.form-block__attractions__field::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form-block__attractions__field {
  background: #F2F2F2;
  border: none;
}