.form-emotions__text-name {
  position: relative;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background: #f2f2f2;
  border: none;
  width: 100%;
  min-height: 147px;
  resize: none;
  padding: 17px 17px 15px 17px;
  color: #000000;
  margin-bottom: 49px;
}

@media (min-width: $tablet-width) {
  .form-emotions__text-name {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .form-emotions__text-name {
    margin-bottom: 48px;
  }
}

.form-emotions__text-name::placeholder {
  @include block-title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.form-emotions__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .form-emotions__slogan {
    margin: 23px 0 16px 0;
  }
}

@media (min-width: $desktop-width) {
  .form-emotions__slogan {
    margin: 23px 0 14px 0;
  }
}

.form-emotions {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .form-emotions {
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 54px;
    margin-right: 52px;
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .form-emotions {
    margin-left: 216px;
    margin-right: 216px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
}

@media (min-width: $tablet-width) {
  .form-emotions__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form-emotions__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-emotions__title {
  font-size: 18px;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;
  margin-top: 29px;
}

@media (min-width: $tablet-width) {
  .form-emotions__title {
    margin-bottom: 28px;
    font-size: 21px;
  }
}

@media (min-width: $tablet-width) {
  .form-emotions__title::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    height: 1px;
    background-color: #e5e5e5;
    width: 123px;
  }
}

@media (min-width: $tablet-width) {
  .form-emotions__title::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    height: 1px;
    background-color: #e5e5e5;
    width: 123px;
  }
}

@media (min-width: $desktop-width) {
  .form-emotions__title::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -95px;
    height: 1px;
    background-color: #e5e5e5;
    width: 280px;
  }
}

@media (min-width: $desktop-width) {
  .form-emotions__title::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -95px;
    height: 1px;
    background-color: #e5e5e5;
    width: 280px;
  }
}

.form-emotions__submit {
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  padding: 16px 0 16px 0;
  margin-bottom: 3px;
}

.form-emotions__submit:hover {
  background-color: #669ec0;
}

.form-emotions__submit:focus {
  background-color: #5496bd;
}

@media (min-width: $tablet-width) {
  .form-emotions__submit {
    padding: 16px 71px 16px 71px;
  }
}

@media (min-width: $desktop-width) {
  .form-emotions__submit {
    padding: 16px 101px 16px 101px;
  }
}
