.form-emotions__text-name {
  background: #f2f2f2;
  border: none;
  width: 100%;
  min-height: 160px;
}

.form-emotions__text-name::placeholder {
  @include block-title;
  padding-top: 16px;
  padding-left: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.form-emotions__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .form-emotions__slogan {
    margin: 16px 0 16px 0;
  }
}

.form-emotions {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .form-emotions {
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .form-emotions {
    margin-left: 216px;
    margin-right: 216px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
}

@media (min-width: $tablet-width) {
  .form-emotions__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form-emotions__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-emotions__title {
  font-size: 18px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .form-emotions__title {
    margin-bottom: 28px;
    font-size: 21px;
  }
}
