.form-dates {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
}

.form-dates__label-field {
  padding-left: 16px;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .form-dates {
    position: relative;
    border-bottom: none;
  }
}

@media (min-width: $tablet-width) {
  .form-dates::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 338px;
    background-color: #e5e5e5;
    width: 1px;
  }
}

@media (min-width: $desktop-width) {
  .form-dates::before {
    content: "";
    position: absolute;
    right: -14px;
    top: 0;
    height: 338px;
    background-color: #e5e5e5;
    width: 1px;
  }
}

.form-dates__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.form-dates__label-name {
  padding-left: 16px;
}

.form-dates__field {
  @include block-title;
  font-size: 18px;
  width: 100%;
  border: none;
  background-color: #f2f2f2;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  color: #000000;
}

.form-dates__field:hover {
  background-color: #e5e5e5;
}

.form-dates__field:active {
  background: #ffffff;
  outline: 4px solid #e5e5e5;
  border: none;
}

@media (min-width: $tablet-width) {
  .form-dates__field {
    font-size: 18px;
  }
}

.form-dates__field::placeholder {
  color: #000000;
}

.form-dates__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 24px;
}

@media (min-width: $tablet-width) {
  .form-dates__title {
    font-size: 21px;
    margin-bottom: 26px;
    margin-left: 54px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-dates__title {
    margin-bottom: 28px;
    margin-left: 13px;
    margin-top: 0;
  }
}

.form-dates__wrapper {
  padding: 0 12px 20px 12px;
}

@media (min-width: $tablet-width) {
  .form-dates__wrapper {
    padding: 0 43px 47px 53px;
  }
}

@media (min-width: $desktop-width) {
  .form-dates__wrapper {
    padding: 0 50px 43px 0;
  }
}
