.form-emotions__text-name {
  background: #F2F2F2;
  border: none;
}

.form-emotions__text-name::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.form-emotions__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .form-emotions {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .form-emotions {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  .form-emotions__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .form-emotions__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
