.main-footer {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
}

.main-footer__copyright-icon-academy {
  margin: -27px 2px 18px 142px;
}

@media (min-width: $tablet-width) {
  .main-footer__copyright-icon-academy {
    margin: -28px 0 18px 141px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.main-footer__social {
  margin: auto;
}

@media (min-width: $tablet-width) {
  .main-footer__social__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__social__list {
    @include list-reset;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.main-footer__social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

@media (min-width: $desktop-width) {
  .main-footer__social {
    padding: 36px 0 36px 0;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__social {
    padding: 21px 10px 0 14px;
    margin: 0;
  }
}

.main-footer__link {
  padding: 28px 1px 33px 5px;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .main-footer__link {
    padding: 36px 36px 41px 25px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__link {
    padding: 36px 97px 45px 72px;
  }
}

.main-footer__copyright {
  text-decoration: none;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 46px 22px 22px -13px;
  text-align: center;
  gap: 12px;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .main-footer__copyright {
    padding: 37px 57px 54px 10px;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 37px 28px 54px 10px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    margin: 0 4px 54px 34px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__copyright {
    padding: 38px 38px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__copyright--copyright {
    padding: 31px 0 0 45px;
  }
}

.main-footer__social-link {
  background-color: #81b3d2;
  background-size: 24px 14px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 48px;
  height: 48px;
  color: #ffffff;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.main-footer__social-item {
  position: relative;
  display: inline-block;
}

.main-footer__social-telegram {
  position: absolute;
  top: 17px;
  left: 14px;
}

.main-footer__social-youtube {
  position: absolute;
  top: 17px;
  left: 14px;
}

.main-footer__social-vkontakte {
  position: absolute;
  top: 15px;
  left: 14px;
}
