
.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "ptsans", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  width: 320px;
}

.main-header__logo {
  position: absolute;
  left: 67px;
  right: 67px;
  height: 96px;
}

.main-header__wrapper {
  margin: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__list__item__link {
  text-decoration: none;
  color: #000000;
}

.main-nav__list__item__link--active {
  color: #766357;
}

