.main-footer {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  margin-right: 40px;
  margin-left: 40px;
  margin: 0 auto;
}

.visually-hidden {
  overflow: hidden;
  display: none;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.main-footer__social {
  margin: auto;
}

@media (min-width: $tablet-width) {
  .main-footer__social__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__social__list {
    @include list-reset;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.main-footer__social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

@media (min-width: $desktop-width) {
  .main-footer__social {
    padding: 36px 0 36px 0;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__social {
    padding: 36px 0 36px 0;
    margin: 0;
  }
}

.main-footer__link {
  margin: 28px 77px 33px 77px;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .main-footer__link {
    padding: 48px 97px 45px 45px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__link {
    padding: 48px 254px 45px 104px;
  }
}

.main-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 96px 22px 96px;
  text-align: center;
  gap: 12px;
}

@media (min-width: $desktop-width) {
  .main-footer__copyright {
    padding: 43px 0 42px 0;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__copyright {
    padding: 43px 0 42px 0;
    margin: 0;
  }
}

.main-footer__social__link {
  background-color: #81b3d2;
  background-size: 24px 14px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 48px;
  height: 48px;
}

.main-footer__social__link:hover {
  background-color: #669ec0;
}

.main-footer__social__link:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer__social__item {
  display: inline-block;
}

.main-footer__social__link--vkontakte {
  background-image: url("../img/vkontakte.svg");
}

.main-footer__social__link--telegram {
  background-image: url("../img/telegram.svg");
}

.main-footer__social__link--youtube {
  background-image: url("../img/youtube.svg");
}

.copyright__link {
  background-image: url("../img/htmlacademy.svg");
  background-position: center;
  display: block;
  width: 27px;
  height: 32px;
}

.copyright__text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
