.main-description {
  width: 320px;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0 auto;
}

.main-description__list {
  padding: 0;
  margin: 0;
}

.main-description__item--blue {
  background: #81B3D2;
}
