
.main-footer {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  margin-right: 40px;
  margin-left: 40px;
  margin: 0 auto;
}

.main-footer__social__list {
  display: flex;
  flex-wrap: wrap;
}

.main-footer__wrapper {
  margin: 0 auto;
  width: 320px;
}

.copyright__text,
.main-footer__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}



