.main-description {
  text-transform: uppercase;
  font-style: normal;
}

.main-description__slogan {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 11px;

  &::before {
    counter-increment: section;
    content: "— № " counter(section) "—";
    padding-bottom: 19px;
  }
}

@media (min-width: $tablet-width) {
  .main-description__slogan::before {
    padding-bottom: 22px;
    padding-top: 13px;
  }
}

.main-description__slogan--grey {
  color: #333333;
}

.main-description__item--grey {
  background: #eeeeee;
  color: #000000;
  text-align: center;
}

.main-description__list {
  @include list-reset;
  counter-reset: section;
}

.main-description__item--blue {
  grid-column: 1 / -1;
  background: #81b3d2;
  color: #ffffff;
}

.main-description__title {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 6px 33px 12px 21px;
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-description__title {
    padding: 16px 13px 0 3px;
    font-size: 21px;
    line-height: 26px;
  }
}

@media (min-width: $tablet-width) {
  .main-description__title:nth-child(2) {
    padding: 16px 0 0 3px;
    font-size: 21px;
    line-height: 26px;
  }
}

.main-description__item-title-grey,
.main-description__item-title {
  margin: 0;
  text-align: center;
  padding-bottom: 11px;
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .main-description__item--grey {
    position: relative;
    background-color: #eeeeee;
  }
}

@media (min-width: $tablet-width) {
  .main-description__item-title-grey {
    font-size: 21px;
    padding-bottom: 5px;
    padding-right: 7px;
    line-height: 29px;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item-title-grey {
    padding-bottom: 7px;
    padding-left: 7px;
    line-height: 29px;
  }
}

@media (min-width: $tablet-width) {
  .main-description__item-title {
    font-size: 21px;
    padding: 8px 20px 11px;
    line-height: 27px;
  }
}

@media (min-width: $tablet-width) {
  .main-description__item-title--first {
    padding: 6px 27px 11px 14px;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item-title--first {
    padding: 9px 11px 11px 14px;
  }
}

.main-description__item-slogan {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 4px;

  &::before {
    counter-increment: section;
    content: "— № " counter(section) " —";
    padding-bottom: 18px;
    padding-top: 2px;
  }
}

@media (min-width: $tablet-width) {
  .main-description__item-slogan {
    padding-right: 7px;
    padding-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item-slogan {
    padding-right: 1px;
    padding-top: 3px;
  }
}

@media (min-width: $tablet-width) {
  .main-description__item-slogan--last {
    padding-right: 0;
    padding-top: 1px;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item-slogan--last {
    padding-top: 7px;
  }
}

@media (min-width: $tablet-width) {
  .main-description__item-slogan--first {
    padding-right: 12px;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item-slogan--first {
    padding-right: 0;
    padding-top: 5px;
  }
}

.main-description__text-grey {
  position: relative;
  min-height: 118px;
  padding: 27px 5px 25px 12px;
  order: 0;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: -1px;
    height: 1px;
    background-color: #d6d6d6;
    width: 283px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .main-description__text-grey::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: -1px;
    height: 1px;
    background-color: #d6d6d6;
    width: 0;
    margin: 0 auto;
  }
}

.main-description__text:nth-child(1) {
  position: relative;
  min-height: 118px;
  padding: 48px 4px 38px 21px;
  order: 0;
  background-image: url("../img/white-copy.svg");
  background-repeat: no-repeat;
  background-position-y: -18px;
  background-size: contain;
}

@media (min-width: $tablet-width) {
  .main-description__text:nth-child(1) {
    position: relative;
    min-height: 118px;
    padding: 39px 1px 29px 7px;
    order: 0;
    background-image: none;
    width: 33.3%;
  }
}

.main-description__text--bridge {
  position: relative;
  min-height: 118px;
  padding: 34px 8px 35px 26px;
  order: -1;
}

@media (min-width: $tablet-width) {
  .main-description__text-grey {
    padding: 42px 23px 42px 33px;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .main-description__text-grey--second {
    padding: 41px -12px 44px 7px;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .main-description__text-grey--first {
    padding: 44px 0 44px 4px;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .main-description__text-grey--third {
    padding: 45px 0 39px 13px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-description__text-grey:nth-child(1) {
    padding: 54px 34px 39px 33px;
  }
}

@media (min-width: $tablet-width) {
  .main-description__text {
    padding: 52px 18px 22px 31px;
  }
}

.main-catalog-text {
  padding: 20px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-catalog-container,
  .main-description {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog-container,
  .main-description {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  .main-description__item--blue {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item--blue {
    display: flex;
    flex-wrap: wrap;

    .main-description__text {
      width: calc(100% / 3);
      padding: 39px 13px 38px 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-description__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .main-description__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}

.main-description__item {
  margin: 0;
  position: relative;
  display: grid;
}

@media (min-width: $tablet-width) {
  .main-description__item {
    display: flex;
    justify-content: center;
  }
}

.main-description__image,
.main-description__image-mountain {
  flex-grow: 1;
  object-fit: cover;
  order: 0;
  display: block;
  width: 100%;
  height: 261px;
}

@media (min-width: $tablet-width) {
  .main-description__image {
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .main-description__image {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: $tablet-width) {
  .main-description__image-mountain {
    height: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-description__image-mountain {
    width: 800px;
    height: 100%;
  }
}

@media (min-width: $mobile-width-only) {
  .main-description__title-transfer {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-description__title-transfer {
    display: inline;
  }
}

.main-description__slogan-transfer {
  display: none;
}

.main-description__slogan-endure-mob {
  display: inline;
}

@media (min-width: $tablet-width) {
  .main-description__slogan-endure-mob {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-description__slogan-endure-mob {
    display: inline;
  }
}

@media (min-width: $tablet-width) {
  .main-description__slogan-transfer {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .main-description__slogan-transfer {
    display: none;
  }
}

@media (min-width: $mobile-width-only) {
  .main-description__slogan-transfer--mobile {
    display: inline;
  }
}

@media (min-width: $mobile-width-only) {
  .main-description__slogan-endure {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-description__slogan-endure {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-description__slogan-endure {
    display: inline;
  }
}

.main-description__slogan-transfer-mobile {
  display: inline;
}

@media (min-width: $tablet-width) {
  .main-description__slogan-transfer-mobile {
    display: inlane;
  }
}

@media (min-width: $desktop-width) {
  .main-description__slogan-transfer-mobile {
    display: none;
  }
}

.main-description__item-title-transfer {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-description__item-title-transfer {
    display: inline;
  }
}

.main-description__item-title-endure {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-description__item-title-endure {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item-title-endure {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-description__item-title-transfer-endure {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item-title-transfer-endure {
    display: none;
  }
}

.main-description__item-title-transfer-middle {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-description__item-title-transfer-middle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item-title-transfer-middle {
    display: inline;
  }
}

.main-description__item-slogan-transfer {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-description__item-slogan-transfer {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item-slogan-transfer {
    display: none;
  }
}

.main-description__item-slogan-endure {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-description__item-slogan-endure {
    display: inline;
  }
}

.main-description__item-slogan-transfer-endure {
  display: inline;
}

@media (min-width: $tablet-width) {
  .main-description__item-slogan-transfer-endure {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item-slogan-transfer-endure {
    display: none;
  }
}

.main-description__item-slogan-middle {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-description__item-slogan-middle {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item-slogan-middle {
    display: none;
  }
}

.main-description__item-slogan-endure-middle {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-description__item-slogan-endure-middle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-description__item-slogan-endure-middle {
    display: inline;
  }
}

@media (min-width: $tablet-width) {
  .main-description__text--bridge {
    position: relative;
    padding: 35px 5px 0 28px;
    order: 0;
    width: 33.3%;
  }
}

.main-description__item-picture {
  width: 66.6%;
}
