.main-nav__list {
  @include list-reset;
  display: none;
  height: 56px;

  &--active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
}

.main-nav__list-item-link {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 83px 12px 83px;
  text-align: center;
  width: 100%;
  mix-blend-mode: normal;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: $tablet-width) {
  .main-nav__list-item-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 17px;
    color: #000000;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list-item-link--active {
    color: #766357;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav {
  background-color: #ffffff;
  z-index: 2;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
  }
}

.main-nav__list-item {
  background-color: #81b3d2;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 56px;
}

.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.4;
}

.main-nav--closed .main-nav__toggle:hover::before {
  opacity: 0.7;
}

@media (min-width: $tablet-width) {
  .main-nav__list-item {
    width: 153px;
    text-align: center;
    background-color: #ffffff;

    &:nth-child(2) {
      margin-right: auto;
    }

    &:nth-child(3) {
      margin-left: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list-item {
    width: 240px;
  }
}

.main-nav__toggle {
  top: 0;
  right: 0;
  width: 60px;
  height: 55px;
  border: none;
  display: block;
  cursor: pointer;
  z-index: 2;
  background-color: #ffffff;
  margin-left: auto;
  position: relative;

  &:hover::before {
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
  }

  &:active::before {
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 25px;
  height: 4px;
  width: 23px;
  background-color: #81b3d2;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
  z-index: 10;
}

.main-nav--closed .main-nav__toggle {
  right: 0;
  top: 0;
  background: #81b3d2;
  z-index: 10;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 26px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.3;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs {
  position: static;
  padding-top: 47px;
}

.main-nav--nojs .main-nav__list-item-link {
  display: block;
}
