@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin block-title {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

@mixin title-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
