.modal-open {
  display: none;
  text-transform: uppercase;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 26px;
  text-align: center;
  position: relative;
  margin: auto;
}

.modal-open__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 29px;
  padding-left: 4px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .modal-open__slogan {
    padding-bottom: 49px;
    padding-left: 7px;
  }
}

.modal-open__title {
  margin: -1px 22px 24px 1px;
  font-size: 18px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .modal-open__title {
    font-size: 30px;
    margin-bottom: 22px;
    margin-top: 2px;
    line-height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .modal-open__title {
    margin-bottom: 27px;
  }
}

.modal-open__button {
  text-transform: uppercase;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  width: 180px;
  height: 58px;
  margin-bottom: 16px;
  padding: 9px 4px 5px 8px;
}

@media (min-width: $tablet-width) {
  .modal-open__button {
    width: 271px;
  }
}

@media (min-width: $desktop-width) {
  .modal-open__button {
    margin-top: -3px;
  }
}

.modal-open__button:hover {
  background-color: #669ec0;
}

.modal-open__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-open__slogan-endure {
  display: inline;
}

@media (min-width: $tablet-width) {
  .modal-open__slogan-endure {
    display: none;
  }
}

.modal-open__slogan-transfer {
  display: none;
}

@media (min-width: $tablet-width) {
  .modal-open__slogan-transfer {
    display: inline;
  }
}
