.order {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .order__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.order__link.button {
  display: block;
  width: 284px;
  padding: 17px 19px 13px 52px;
  margin: auto;
}

.order__text {
  padding: 16px 0 0 0;
  text-align: center;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 32px;
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .order__text {
    padding: 8px 0 1px 0;
    margin-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .order__text {
    padding: 9px 0 3px;
  }
}

.order__card-image {
  flex-grow: 1;
  display: block;
  object-fit: cover;
  margin-top: 49px;
  border: none;
  width: 100%;
  height: 350px;
  margin-bottom: 13px;
}

@media (min-width: $desktop-width) {
  .order__card-image {
    margin-top: 7px;
  }
}

@media (min-width: $tablet-width) {
  .order__link.button {
    width: 458px;
    padding: 14px 135px 17px 137px;
    margin-bottom: 60px;
  }
}

@media (min-width: $tablet-width) {
  .order__text-transfer {
    display: none;
  }
}

.order__text-endure {
  display: none;
}

@media (min-width: $tablet-width) {
  .order__text-endure {
    display: inline;
  }
}

.order__title {
  margin-top: 28px;
  margin-left: 6px;
  margin-bottom: 7px;
}

@media (min-width: $tablet-width) {
  .order__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-top: 54px;
    margin-bottom: 25px;
  }
}
