.order {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .order__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.order__link.button {
  display: block;
  width: 284px;
  padding: 16px 49px 16px 49px;
}

.order__text {
  padding: 38px 29px 32px 29px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
}

.order__card-image {
  flex-grow: 1;
  display: block;
  object-fit: cover;
  margin-top: 49px;
}


@media (min-width: $tablet-width) {
  .order__link.button {
    width: 458px;
    padding: 14px  121px 17px 121px;
  }
}

@media (min-width: $tablet-width) {
  .order__link.button {
    width: 458px;
    padding: 14px  121px 17px 121px;
  }
}
