.page {
  height: 100%;
  
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    background-color: #e7e5e5;
  }
}

.page__body {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  font-family: $b-font;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
}
