.photo-block {
  position: relative;
  display: grid;
  grid-template-rows: 158px max-content;
  width: 100%;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-image: url("../img/catalog-mobile-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #e6e6e6;
  background-position-y: -45px;
  z-index: -1;
  margin: 0 auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/retina-mobile-catalog.jpg");
    background-size: 902px auto;
  }
}

.photo-block__wrapper {
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: bottom;
  display: grid;
  grid-template-rows: 158px max-content;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .photo-block__wrapper {
    background-image: url("../img/intro-triangle-tablet.svg");
    grid-template-rows: 290px max-content;
  }
}

@media (min-width: $desktop-width) {
  .photo-block__wrapper {
    background-image: url("../img/intro-triangle-desktop.svg");
    grid-template-rows: 290px max-content;
  }
}

@media (min-width: $tablet-width) {
  .photo-block {
    background-image: url("../img/tablet-desktop-back.jpg");
    grid-template-rows: 285px max-content;
    background-position-y: -51px;
    font-size: 30px;
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-back-retina.jpg");
      background-size: 1200px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-block {
    background-image: url("../img/back-desktop-catalog.jpg");
    grid-template-rows: 301px max-content;
    background-position-y: -56px;
  }
}

.photo-block__title {
  font-size: 18px;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .photo-block__title {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 9px;
  }
}

@media (min-width: $desktop-width) {
  .photo-block__title {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 9px;
  }
}

.photo-block__text {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 24px 10px 50px 10px;
  margin-top: auto;
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 188px;
    height: 1px;
    background-color: #e5e5e5;
    width: 304px;
  }
}

@media (min-width: $tablet-width) {
  .photo-block__text {
    padding: 40px 155px 67px 155px;

    &::before {
      content: "";
      position: absolute;
      background: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-block__text {
    padding: 68px 155px 67px;
  }
}

.photo-block__image {
  margin: 0 auto;
  margin-top: 52px;
  display: block;
}

@media (min-width: $tablet-width) {
  .photo-block__image {
    margin-top: 95px;
    width: 456px;
    height: 77px;
  }
}

@media (min-width: $desktop-width) {
  .photo-block__image {
    margin-top: 101px;
    width: 459px;
    height: 79px;
  }
}

.photo-block__slogan {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: $desktop-width) {
  .photo-block__slogan {
    margin-bottom: 20px;
  }
}

.photo-block__slogan-transfer {
  display: inline;
}

@media (min-width: $tablet-width) {
  .photo-block__slogan-transfer {
    display: none;
  }
}

.photo-block__slogan-endure {
  display: none;
}

@media (min-width: $tablet-width) {
  .photo-block__slogan-endure {
    display: inline;
  }
}
