.photo-block {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  background-image: url("../img/back-desktop.jpg");
  background-repeat: no-repeat;
}


.photo-block__slogan {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.photo-block::before {
  content: url("../img/text-sedona.svg");
}
