.video {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-right: 10px;
  margin-left: 10px;
}

.video__text {
  margin: 0;
  text-align: center;
  padding: 0 0 38px 0;
}

@media (min-width: $tablet-width) {
  .video__text {
    padding-top: 58px;
    font-size: 30px;
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .video__text {
    padding-top: 62px;
    margin: 0;
  }
}

.video__title {
  margin: 0;
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .video__title {
    font-size: 30px;
  }
}

.video__video-image {
  width: 280px;
  height: 177px;
  display: block;
}

@media (min-width: $tablet-width) {
  .video__video-image {
    width: 648px;
    height: 500px;
  }
}

@media (min-width: $tablet-width) {
  .video__video-image {
    width: 800px;
    height: 500px;
  }
}

@media (min-width: $tablet-width) {
  .video {
    margin-right: 52px;
    margin-left: 52px;
    font-size: 30px;
    margin-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 60px;
  }
}

.video__slogan {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 2px;
  margin-top: 25px;
}

@media (min-width: $tablet-width) {
  .video__slogan {
    margin-top: 32px;
  }
}

@media (min-width: $desktop-width) {
  .video__slogan {
    margin-bottom: 48px;
    padding-top: 0;
  }
}

.video__slogan-transfer {
  display: inline;
}

@media (min-width: $tablet-width) {
  .video__slogan-transfer {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .video__slogan-transfer {
    display: none;
  }
}

.video__slogan-endure {
  display: none;
}

@media (min-width: $tablet-width) {
  .video__slogan-endure {
    display: inline;
  }
}

.video__video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .video__video {
    margin-bottom: 40px;
  }
}

.video__video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 54px;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  background-image: url("../img/button-play.svg");
}
