@import "vars";
@import "fonts";
@import "mixins";
@import "blocks/global";
@import "blocks/main-header";
@import "blocks/page";
@import "blocks/page-main";
@import "blocks/description";
@import "blocks/main-description";
@import "blocks/attractions";
@import "blocks/order";
@import "blocks/button";
@import "blocks/main-footer";
@import "blocks/photo-block";
@import "blocks/catalog";
@import "blocks/video";
@import "blocks/form";
@import "blocks/form-block";
@import "blocks/form-emotions";
@import "blocks/main-catalog-container";
@import "blocks/description-catalog";
@import "blocks/form-dates";
@import "blocks/form-contacts";
@import "blocks/main-nav";
@import "blocks/attractions-container.scss";
@import "blocks/copyright.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/picture.scss";
@import "blocks/modal.scss";
@import "blocks/attractions-container-index";
@import "blocks/modal-open";
@import "blocks/modal-open-container";
@import "blocks/modal-container";

